
      
        <!--Bootstrap Css-->
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <!--meanmenu.css-->
        <link rel="stylesheet" href="~/assets/css/meanmenu.css">
        <!--Owl carousel-->
        <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
        <!--Owl Theme-->
        <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
        <!--magnific-popup-->
        <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
        <!--Animate.css-->
        <link rel="stylesheet" href="~/assets/css/animate.min.css">
        <!--Flaticon-->
        <link rel="stylesheet" href="~/assets/css/flaticon.css">
        <!--Remixicon-->
        <link rel="stylesheet" href="~/assets/css/remixicon.css">
        <!--Odometer-->
        <link rel="stylesheet" href="~/assets/css/odometer.min.css">
        <!--aos css-->
        <link rel="stylesheet" href="~/assets/css/aos.css">
        <!--style.css-->
        <link rel="stylesheet" href="~/assets/css/style.css">
        <!--Resposive-->
        <link rel="stylesheet" href="~/assets/css/responsive.css">
        <title>Peku - Political HTML Template</title>
        <link rel="icon" type="image/png" href="~/assets/images/favicon.png">

        <!-- Start Preloader Area -->
     @*   <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>*@
        <!-- End Preloader Area -->
        
        <!--header area-->
        <div class="header-area">
           
            <!--End Top bar-->
            <!-- Start Navbar Area -->
            <div class="navbar-area">
                <!-- Menu For Mobile Device -->
                <div class="mobile-nav">
                    <a href="index.html" class="logo">
                        <img src="~/assets/images/wp-logo.png" alt="logo">
                    </a>
                </div>

                <!-- Menu For Desktop Device -->
                <div class="main-nav bg-nav">
                    <div class="container-fluid">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="index.html">
                                <img src="~/assets/images/wp-logo.png" alt="logo">
                            </a>

                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">

                                <ul class="navbar-nav m-auto">

                                    <li class="nav-item">

                                        <a href="#" class="nav-link dropdown-toggle active">Browse</a>

                                        <ul class="dropdown-menu">

                                            <li class="nav-item">
                                                <a href="index.html" class="nav-link">Paid Stories</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="index-2.html" class="nav-link active">Poetry</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="index-3.html" class="nav-link">Adventure</a>
                                            </li>

                                        </ul>

                                    </li>
                                    <li class="nav-item">
                                        <a href="about.html" class="nav-link">Writer Opportunities</a>
                                    </li>

                                    <li class="nav-item">

                                        <a href="#" class="nav-link dropdown-toggle">Writer Resources</a>

                                        <ul class="dropdown-menu">

                                            <li class="nav-item">
                                                <a href="events.html" class="nav-link">Writer Programs</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="events-details.html" class="nav-link">Writer Contests</a>
                                            </li>

                                        </ul>

                                    </li>

                                    <li class="nav-item">

                                        <a href="#" class="nav-link dropdown-toggle">Community</a>

                                        <ul class="dropdown-menu">
                                            
                                            <li class="nav-item">
                                                <a href="missions.html" class="nav-link">The Wattys</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="missions-details.html" class="nav-link">Community Happenings</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="volunteer.html" class="nav-link">Wattpad Ambassadors</a>
                                            </li> 
                                            
                                        

                                    </li>
                                    <li class="nav-item">
                                        <ul>
                                             <div class="option-item">
                                              <i class="search-btn ri-search-line"></i>
                                             <form class="search-form">
                                                        <input class="search-input" placeholder="Search..." type="text">
                                                        
                                                    </form>
                                             </div>
                                            </li>


                                        </ul>

                                    </li>

                                    

                                </ul>
                            </div>

                            <div class="others-options">
                                <ul>
                                   
                                    <li>
                                        <a href="https://localhost:44386/User/Login" class="btn default-btn">Login</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="others-option-for-responsive">
                    <div class="container">
                        <div class="dot-menu">
                            <div class="inner">
                                <div class="circle circle-one"></div>
                                <div class="circle circle-two"></div>
                                <div class="circle circle-three"></div>
                            </div>
                        </div>
                        
                        <div class="container">
                            <div class="option-inner">
                                <div class="others-options justify-content-center d-flex align-items-center">
                                    <ul>
                                        <li>
                                            <div class="option-item">
                                                <i class="search-btn ri-search-line"></i>
                                                <i class="close-btn ri-close-line"></i>
                                                <div class="search-overlay search-popup">
                                                    <div class="search-box">
                                                        <form class="search-form">
                                                            <input class="search-input" placeholder="Search..." type="text">
                                                            <button class="search-button">
                                                                <i class="ri-search-line"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="https://localhost:44386/User/Login" class="btn default-btn">Login</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar Area -->
        </div>

        <!--Start banner area-->
        <div class="banner-area2 pt-50">
            <div class="container-fluid">
                <div class="hero-area">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="banner-content pb-50" > 
                                <h1>Hi, we're BlogItt.'</h1>
                                <span>The world's most-loved social storytelling platform</span>
                                <p>Wattpad connects a global community of 90 million readers and writers through the power of story</p>
                                <div class="btn-area">
                                    <a href="https://localhost:44386/Blog/GetAllBlogs" class="btn default-btn">Start Reading</a>
                                    <a href="https://localhost:44386/Blog/AddBlog" class="btn default-btn">Start Writing</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-img" >
                                <img src="~/assets/images/banner2.png" alt="Images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End banner area-->

        

       @* <!--Start Footer area-->
        <div class="footer-area bg-2 pt-100  ">
            <div class="container">
                <div class="row pb-100">
                    <div class="col-lg-3 col-md-6">
                        <div class="logo-area">
                            <a href="index.html"><img src="assets/images/Logo2.html" alt="Logo"></a>
                            <p>Lorem ipsum dolor sit amet, consec tetur
                            adipiscing elit eiusmod tempor incididunt
                            labore dolore magna aliqua consec tetur
                            adipiscing elite sed do labor.</p>
                            <ul>
                                <li>Follow Us:</li>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-fill"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank"><i class="ri-pinterest-line"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank"><i class="ri-twitter-fill"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-area">
                            <h3>About Us</h3>
                            <ul>
                                <li><a href="about.html"><i class="ri-arrow-right-s-line"></i>About Us</a></li>
                                <li><a href="missions.html"><i class="ri-arrow-right-s-line"></i>Missions</a></li>
                                <li><a href="donation.html"><i class="ri-arrow-right-s-line"></i>Donation</a></li>
                                <li><a href="volunteer.html"><i class="ri-arrow-right-s-line"></i>Become A Volunteer</a></li>
                                <li><a href="team.html"><i class="ri-arrow-right-s-line"></i>Team</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-area">
                            <h3>Quick Link</h3>
                            <ul>
                                <li><a href="index.html"><i class="ri-arrow-right-s-line"></i>Home</a></li>
                                <li><a href="donation.html"><i class="ri-arrow-right-s-line"></i>Donate</a></li>
                                <li><a href="events.html"><i class="ri-arrow-right-s-line"></i>Events</a></li>
                                <li><a href="events-details.html"><i class="ri-arrow-right-s-line"></i>Events Details</a></li>
                                <li><a href="contact.html"><i class="ri-arrow-right-s-line"></i>Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="official-info">
                            <h3>Official Info</h3>
                            <ul>
                                <li>
                                    <i class="ri-map-pin-2-fill"></i><span>Location:</span>
                                    <p>2976 sunrise road las vegas</p>
                                </li>
                                <li>
                                    <i class="ri-mail-fill"></i><span>Email:</span>
                                    <p><a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#f69e939a9a99b686939d83d895999b"><span class="__cf_email__" data-cfemail="147c7178787b5464717f613a777b79">[email&#160;protected]</span></a></p>
                                </li>
                                <li>
                                    <i class="ri-phone-fill"></i><span>Phone:</span>
                                    <p><a href="tel:098765432150">098765432150</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!--End Footer area-->*@

       
        <!-- End Go Top Area -->

        <!-- Jquery Js -->
        <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap bundle Js -->
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu -->
        <script src="~/assets/js/jquery.meanmenu.js"></script>
        <!-- Owl Carosel Js -->
        <script src="~/assets/js/owl.carousel.min.js"></script>
        <!-- Magnific popup Js-->
        <script src="~/assets/js/jquery.magnific-popup.js"></script>
        <!-- Wow Js -->
        <script src="~/assets/js/wow.min.js"></script>
        <!-- Aos js -->
        <script src="~/assets/js/aos.js"></script>
        <!-- Appear-->  
        <script src="~/assets/js/appear.min.js"></script>  
        <!-- Form Validator -->    
        <script src="~/assets/js/form-validator.min.js"></script>
        <!-- Contact Form Script -->    
        <script src="~/assets/js/contact-form-script.js"></script>
        <!-- Ajaxchimp -->    
        <script src="~/assets/js/ajaxchimp.min.js"></script>
        <!-- Odometer -->    
        <script src="~/assets/js/odometer.min.js"></script>
        <!-- custom js -->
        <script src="~/assets/js/custom.js"></script>
