@model WattPad.Models.BlogModel

@{
    ViewData["Title"] = "AddBlog";
}

@*<h1>AddBlog</h1>

<h4>BlogModel</h4>
<hr />*@
   <!--Bootstrap Css-->
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <!--meanmenu.css-->
        <link rel="stylesheet" href="~/assets/css/meanmenu.css">
        <!--Owl carousel-->
        <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
        <!--Owl Theme-->
        <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
        <!--magnific-popup-->
        <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
        <!--Animate.css-->
        <link rel="stylesheet" href="~/assets/css/animate.min.css">
        <!--Flaticon-->
        <link rel="stylesheet" href="~/assets/css/flaticon.css">
        <!--Remixicon-->
        <link rel="stylesheet" href="~/assets/css/remixicon.css">
        <!--Odometer-->
        <link rel="stylesheet" href="~/assets/css/odometer.min.css">
        <!--aos css-->
        <link rel="stylesheet" href="~/assets/css/aos.css">
        <!--style.css-->
        <link rel="stylesheet" href="~/assets/css/style.css">
        <!--Resposive-->
        <link rel="stylesheet" href="~/assets/css/responsive.css">
        <title>Peku - Political HTML Template</title>
        <link rel="icon" type="image/png" href="~/assets/images/favicon.png">

        <!-- Start Preloader Area -->
     @*   <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>*@
        <!-- End Preloader Area -->
        
        <!--header area-->
        <div class="header-area">
           
            <!--End Top bar-->
            <!-- Start Navbar Area -->
            <div class="navbar-area">
                <!-- Menu For Mobile Device -->
                <div class="mobile-nav">
                    <a href="index.html" class="logo">
                        <img src="~/assets/images/wp-logo.png" alt="logo">
                    </a>
                </div>

                <!-- Menu For Desktop Device -->
                <div class="main-nav bg-nav">
                    <div class="container-fluid">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="index.html">
                                <img src="~/assets/images/wp-logo.png" alt="logo">
                            </a>

                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">

                                <ul class="navbar-nav m-auto">

                                    <li class="nav-item">

                                        <a href="#" class="nav-link dropdown-toggle active">Browse</a>

                                        <ul class="dropdown-menu">

                                            <li class="nav-item">
                                                <a href="index.html" class="nav-link">Paid Stories</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="index-2.html" class="nav-link active">Poetry</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="index-3.html" class="nav-link">Adventure</a>
                                            </li>

                                        </ul>

                                    </li>
                                    <li class="nav-item">
                                        <a href="about.html" class="nav-link">Writer Opportunities</a>
                                    </li>

                                    <li class="nav-item">

                                        <a href="#" class="nav-link dropdown-toggle">Writer Resources</a>

                                        <ul class="dropdown-menu">

                                            <li class="nav-item">
                                                <a href="events.html" class="nav-link">Writer Programs</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="events-details.html" class="nav-link">Writer Contests</a>
                                            </li>

                                        </ul>

                                    </li>

                                    <li class="nav-item">

                                        <a href="#" class="nav-link dropdown-toggle">Community</a>

                                        <ul class="dropdown-menu">
                                            
                                            <li class="nav-item">
                                                <a href="missions.html" class="nav-link">The Wattys</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="missions-details.html" class="nav-link">Community Happenings</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="volunteer.html" class="nav-link">Wattpad Ambassadors</a>
                                            </li> 
                                            
                                        

                                    </li>
                                    <li class="nav-item">
                                        <ul>
                                             <div class="option-item">
                                              <i class="search-btn ri-search-line"></i>
                                             <form class="search-form">
                                                        <input class="search-input" placeholder="Search..." type="text">
                                                        
                                                    </form>
                                             </div>
                                            </li>


                                        </ul>

                                    </li>

                                    

                                </ul>
                            </div>

                            <div class="others-options">
                                <ul>
                                   
                                    <li>
                                        <a href="https://localhost:44386/User/Login" class="btn default-btn">Login</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="others-option-for-responsive">
                    <div class="container">
                        <div class="dot-menu">
                            <div class="inner">
                                <div class="circle circle-one"></div>
                                <div class="circle circle-two"></div>
                                <div class="circle circle-three"></div>
                            </div>
                        </div>
                        
                        <div class="container">
                            <div class="option-inner">
                                <div class="others-options justify-content-center d-flex align-items-center">
                                    <ul>
                                        <li>
                                            <div class="option-item">
                                                <i class="search-btn ri-search-line"></i>
                                                <i class="close-btn ri-close-line"></i>
                                                <div class="search-overlay search-popup">
                                                    <div class="search-box">
                                                        <form class="search-form">
                                                            <input class="search-input" placeholder="Search..." type="text">
                                                            <button class="search-button">
                                                                <i class="ri-search-line"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="https://localhost:44386/User/Login" class="btn default-btn">Login</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar Area -->

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBlog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" type="file" class="form-control" name="ImageFile" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
